.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.card-up {
  display: flex;
}
.card-bottom {
  display: flex;
  flex-direction: column;
}
.card-bottom-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.card-text {
  display: flex;
}
.card-sub-element {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #f3df85;
  border-radius: 100px;
  padding: 2%;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
